<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HLToasterHomePage.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D34F2DC91D7D085E006F48BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D34F2DE21D7D085E006F48BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D34F2DED1D7D085E006F48BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
